<script type="text/javascript">
  Shadowbox.init();
</script>
<div class="row">
  <div class=" pull-right">
  <% if @user.image_url.present? %>
  <%= link_to image_tag(@user.image_url(:thumb).to_s), asset_path(@user.image_url(:large).to_s), rel: "shadowbox" %>
  <% else %>
  <%= image_tag gravatar_url(@user.email) %>
  <% end %>

</div>
  <div class="span8">

<% if @user == current_user %>
<h1>My profile - <%= link_to "Edit account", edit_user_registration_path(current_user), class: "btn" %></h1>
<% else %>
<h1><%= @user.username %>'s profile</h1>
<% end %>
</div>

</div>
<div class="page-header"></div>

<!-- ========== SUBREDDITS ========== -->

<% if @user == current_user %>
<h2>My Subreddits</h2>
<% else %>
<h2><%= @user.username %>'s subreddits</h2>
<% end %>

<% if @user.subreddits.empty?  %>
  <div class="well well-small">
    <% if @user == current_user %>
    <h4>You have no subreddits, create one now!</h4>
    <%= link_to "Create a subreddit", new_subreddit_path,class: "btn btn-info" %>
    <% else %>
    <h4><%= @user.username %> currently has no subreddits</h4>
    <% end %>
  </div>
<% end %>


<% @user.subreddits.each do |subreddit| %>
  
    <div class="well">
      <h4><%= link_to subreddit.name, subreddit %></h4>
    </div>

<% end %>


<!-- ========== LINKS ========== -->
<div class="row">
  <div class="span6">
<% if @user == current_user %>
<h2>My Links</h2>
<% else %>
<h2><%= @user.username %>'s links</h2>
<% end %>

<% if @user.links.empty?  %>
	<div class="well well-small">
    <% if @user == current_user %>
		<h4>You have no links, post some now!</h4>
		<%= link_to "Post a new link", new_link_path,class: "btn btn-info" %>
    <% else %>
    <h4><%= @user.username %> currently has no links</h4>
    <% end %>
	</div>
<% end %>


<% @user.links.each do |link| %>
	
		<%= render '/layouts/links_feed', link: link, spaninfo_user: "span3" %>

<% end %>

</div>
<div class="span6">
    <h2>Links Voted Up</h2>

<% if @user == current_user %>
  <% if @user.votes.empty? %>
    <div class="well well-small">
      <h4>You haven't voted on anything yet!</h4>
      <%= link_to "Top Links", root_path, class: "btn btn-info" %>
    </div>
    <% end %>
  <% @user.votes.each do |vote| %>
      <%= render '/layouts/links_feed', link: vote.link, spaninfo_user: "span3" %>
  <% end %>
  <% end %>
  </div>
  </div>
<!-- ========== COMMENTS ========== -->

<% if @user == current_user %>
<h2>My Comments</h2>
<% else %>
<h2><%= @user.username %>'s comments</h2>
<% end %>

<% if @user.comments.empty? %>
<div class="well well-small">
<% if @user == current_user %>
<h4>You have no comments, post some now!</h4>
<% else %>
<h4><%= @user.username %> hasn't commented on anything yet</h4>
<% end %>
</div>
<% else %>
  <% @user.comments.each do |comment| %>
   <div class="well well-small">
    <div class="row">
    <div class="span1">
   
    <%= image_tag(comment.user.image_url(:icon).to_s) %>
    </div>
    <div class="span8">
    <span class="label"><%= link_to comment.user.username.html_safe, profile_path(comment.user.username) %></span>
    <p class="text-left" style="padding: 10px 10px 0px 0;"><%= comment.message.html_safe %></p><small><%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>
    </div>
    </div>
    </div>
  <% end %>
</div>
  <% end %>

  