<% if @user == current_user %>
<h1>My profile - <%= link_to "Edit account", edit_user_registration_path(current_user), class: "btn" %></h1>
<% else %>
<h1><%= @user.username %>'s profile</h1>
<% end %>

<div class="page-header"></div>

<% if @user == current_user %>
<h2>My Links</h2>
<% else %>
<h2><%= @user.username %>'s links</h2>
<% end %>

<% if @user.links.empty?  %>
	<div class="well well-small">
    <% if @user == current_user %>
		<h4>You have no links, post some now!</h4>
		<%= link_to "Post a new link", new_link_path,class: "btn btn-info" %>
    <% else %>
    <h4><%= @user.username %> currently has no links</h4>
    <% end %>
	</div>
<% end %>


<% @user.links.each do |link| %>
	
		<%= render '/layouts/links_feed', link: link %>

<% end %>

<% if @user == current_user %>
<h2>My Comments</h2>
<% end %>

<% if @user.comments.empty? %>
<div class="well well-small">
<% if @user == current_user %>
<h4>You have no comments, post some now!</h4>
<% else %>
<h4><%= @user.username %> hasn't commented on anything yet</h4>
<% end %>
</div>
<% else %>
  <% @user.comments.each do |comment| %>
  <div class="well well-small">
    <div class="row">
    <div class="span1">
    <span class="label"><%= comment.user.username %></span>
    </div>
    <div class="span10">
    <p><%= comment.message %> - on <%= link_to (comment.link).title, link_path(comment.link) %></p>
    </div>
    </div>
    </div>
  <% end %>
  <% end %>