
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f| %>
<fieldset>
  <legend>Edit my account</legend>
  <div class="row">
  <div class="well span12">
    <div class="row">
      <div class="span3">
  <%= devise_error_messages! %>

 <%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <%= f.input :username %>

    <%= f.label 'profile_picture (optional)', :required => false %>


  <div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
  <div>
    <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= f.file_field :image %></span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div>
</div>

  <div class="span3">
 <%= f.input :password %> <i>(leave blank if you don't want to change it)</i>

 <%= f.input :password_confirmation %>

  <%= f.input :current_password %> <i>(we need your current password to confirm your changes)</i>
  <br>
  <%= f.submit "Update", class: "btn" %>
  <% end %>
  </div>

      <div class="span3">
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", :data => { :confirm => "Are you sure?" }, 
          :method => :delete %></p>
        </div>

  </div><%# End of row %>
  </div>
  </fieldset>


