<div class="well">
  <% votes = @link.upvotes_count %>
  <div class="row">
    <div class=<% if current_user.present? && @link.user_id == current_user.id %>
      "span1"
      <% else %>
      "span2"
      <% end %>
      >

      <div class="meta<%=  "-none" if current_user.present? && @link.user_id == current_user.id %>">
    <span class="badge <%= 
          case
          when votes >=1
            "badge-success"
          when votes >= -5 && votes <= -1
            "badge-warning"
          when votes <= -6
            "badge-important"
          end
    %>" ><%= votes %></span>
    <% if current_user.present? && @link.user_id == current_user.id %>
    <% else %>
    <% if current_user && current_user.votes.where(link_id: @link.id, vote_value: 1).present? %>
    <i class="icon-ok-sign"></i>
    <% else %>
    <%= link_to '<i class="icon-arrow-up"></i>'.html_safe, votes_path(vote: {link_id: @link.id, vote_value: 1}), method: :post %>
    <% end %>

    <% if current_user && current_user.votes.where(link_id: @link.id, vote_value: -1).size == 1 %>
    <i class="icon-ok-sign"></i>
    <% else %>
    <%= link_to '<i class="icon-arrow-down"></i>'.html_safe, votes_path(vote: {link_id: @link.id, vote_value: -1}), method: :post %>
    <% end %><% end %>
   
  </div>
  </div>
  <div class="span7">
<h4><%= link_to @link.title, @link.url %></h4>
<small>submitted <%= time_ago_in_words(@link.created_at) %> ago in <%= link_to @link.subreddit.name, top_path(@link.subreddit) %> by <%= link_to @link.user.username, profile_path(@link.user.username) %></small>
<% if @link.type_of_link == "message" %>
<br><br>
<%= @link.message.gsub(/\n/, '<br>').html_safe %>
<% end %>
</div>
</div>
</div>
<!-- ========== COMMENTS ========== -->

<%= simple_form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.present? %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.hidden_field :link_id, value: @link.id %>

  <div class="field">
    <%= f.text_area :message, placeholder: "Add a comment", rows: "4" %>
  </div>
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
<% if @link.comments.size > 0 %>

  <h2><%= pluralize(@link.comments.size, "Comment") %>:</h2>
  <div class="page-header"></div>
<% end %>
<div>
  

  <% @link.comments.each do |comment| %>
  <div class="well well-small">
    <div class="row">
    <div class="span1">
   
    <%= image_tag(comment.user.image_url(:icon).to_s) %>
    </div>
    <div class="span8">
    <span class="label"><%= link_to comment.user.username.html_safe, profile_path(comment.user.username) %></span>
    <p class="text-left" style="padding: 10px 10px 0px 0;"><%= comment.message.html_safe %></p><small><%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>
    </div>
    </div>
    </div>
  <% end %>
</div>