<h1><%= @subreddit.name %></h1>
<p><%= @subreddit.description.gsub(/\n/, '<br>').html_safe if @subreddit.description.present?%></p>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><%= link_to "Top", top_path(@subreddit.name) %></li>
 <li><%= link_to "Recent", recent_path(@subreddit.name) %></li>
</ul>

	<% if @links.empty? %>
		<p>This subreddit is empty</p>
	<% end %>
	 <%# ========= TOP =========== %>

  	<% @links.each do |link| %>
	<%= render partial: '/layouts/links_feed', locals: {link: link, link_content_if_user: "span10", link_content_if_not_users: "span7", spanmeta_if_not_users: "span2"} %>

<% end %>
<%= will_paginate @links, :renderer => BootstrapPagination::Rails %>
  </div>

